div#about.about.section
	div.container
		div.row
			div.col-lg-12
				h1 Project Information
				h2 Background
				p When a user installs an Android application, they are presented with a list of permissions that are required by the application. This provides the user with only one level of granularity; they can choose to install the application or to not install it. When a user installs an iOS application, that user accepts certain basic permissions, and then has to approve special permissions from within the application.
				p The Android permissions system has led many applications to neglect the principle of least privilege, which results in a “permissions gap”. This is the difference between an application’s necessary permissions and any permissions in which the application is overprivileged. As a result, It is believed that overprivileged applications may be susceptible to malware attacks or other security issues.
				h2 Motivation
				p The goal of this project is to gather application information from as many Android application package (APK) files as possible in order to analyze the evolution of these files over time. In addition to the “permissions gap”, we will be looking for any security vulnerabilities that may exist in these applications. Furthermore, we will be performing several types of testing, such as stress and compatibility testing, in hopes of discovering any other underlying issues.
				p Currently, there is no existing data set such as the one we hope to produce as a result of this project. We believe that such a data set would be valuable towards future research.
		div.row
			div.col-lg-12
				h1 Collaborators
				h2 Adam Blaine
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nec nisi in felis sodales mollis. Curabitur nec nisi id nibh porta blandit. Cras eu libero suscipit odio laoreet luctus ac vitae tellus. Quisque sit amet semper orci. 
				h2 Casey Klimkowsky
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nec nisi in felis sodales mollis. Curabitur nec nisi id nibh porta blandit. Cras eu libero suscipit odio laoreet luctus ac vitae tellus. Quisque sit amet semper orci. 
				h2 Shannon Trudeau
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nec nisi in felis sodales mollis. Curabitur nec nisi id nibh porta blandit. Cras eu libero suscipit odio laoreet luctus ac vitae tellus. Quisque sit amet semper orci. 
				h2 Dr. Daniel E. Krutz
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nec nisi in felis sodales mollis. Curabitur nec nisi id nibh porta blandit. Cras eu libero suscipit odio laoreet luctus ac vitae tellus. Quisque sit amet semper orci. 