div#about.about
	div.container
		div.row.project-information
			div.col-md-4.col-sm-5
				h1.title Project Information
			div.col-md-8.col-sm-7			
				h2.subtitle Background
				div.content
					p Moblle applications are typically updated more frequently than traditional desktop applications, with many applications being updated several times a month. These updates occur for a variety of reasons, including bug fixes, required updates for new phone hardware, or feature additions. While the intention is for each release to make the software better, they unfortunately often cause more harm than good.
				h2.subtitle Motivation
				div.content
					p The goal of this project is to gather application information from as many Android application package (APK) files as possible in order to examine correlations between various quality metrics and security characteristics of the applications. In particular, some of the metrics we looked at are adherence to coding standards, file size, over- and underpermissions, and any defects or security vulnerabilities that may exist.
					p Currently, there is no existing data set such as the one we have produced as a result of this project. We hope that such a data set will be valuable towards future research.
		div.row.collaborators
			div.col-md-4.col-sm-5
				h1.title Collaborators
			div.col-md-8.col-sm-7
				h2.subtitle Adam Blaine
				p.contact amb8805@rit.edu
				div.content
					p Adam is a fourth-year in the Software Engineering department at Rochester Institute of Technology, and will be graduating in May of 2015.
					p His contributions to this project include the creation and management of the database.
				h2.subtitle Casey Klimkowsky
				p.contact cek3403@rit.edu
				div.content
					p Casey is a fifth-year Software Engineering student also pursuing a minor in Psychology at Rochester Institute of Technology, and will be graduating in May of 2015. She is a member of the Honors Program, and the Delta Lambda Chapter of Alpha Xi Delta Fraternity. Her professional interests include front-end web development, and usability in software design.
					p Her contributions to this project include the creation and operation of the web scraper, and the design and development this website.
				h2.subtitle Shannon Trudeau
				p.contact smt9020@rit.edu
				div.content
					p Shannon is a fourth-year Software Engineering major pursuing a minor in Statistics (as well as a concentration in American Sign Language). She is a member of the Honors Program, the Episilon Psi Chapter of Sigma Sigma Sigma National Sorority, and the Society of Software Engineers. Recently, she finished a double block co-op at Rochester Software Associates, and will be graduating in May of 2015. 
					p Her contributions to this project include looking for pre-existing analysis tools, and creating the script that integrates these tools into the project.
				h2.subtitle Dr. Daniel Krutz
				p.contact dxkvse@rit.edu
				div.content
					p Daniel is a lecturer in the department of Software Engineering at Rochester Institute of Technology. ...
					p He coached the three undergraduates listed above for the duration of this project ...
		div.row.acknowledgments
			div.col-md-4.col-sm-5
				h1.title Acknowledgments
			div.col-md-8.col-sm-7
				h2.subtitle anderson916 on GitHub
				div.content
					p 
					| We used anderson916's 
					a(href='https://github.com/anderson916/google-play-crawler') google-play-crawler 
					|  repository in order to crawl Google Play, and collect information on the APK files we scraped from there.
				h2.subtitle egirault on GitHub
				div.content
					p 
					| We used egirault's 
					a(href='https://github.com/egirault/googleplay-api') googleplay-api 
					|  repository, an unofficial Python API, in order to download APK files from Google Play.
