div#about.about.section
	div.container
		div.row
			div.col-md-3
				h2.title Project Information
			div.col-md-9				
				h3.subtitle Background
				div.content
					p Moblle applications are typically updated more frequently than traditional desktop applications, with many applications being updated several times a month. These updates occur for a variety of reasons, including bug fixes, required updates for new phone hardware, or feature additions. While the intention is for each release to make the software better, they unfortunately often cause more harm than good.
				h3.subtitle Motivation
				div.content
					p The goal of this project is to gather application information from as many Android application package (APK) files as possible in order to examine correlations between various quality metrics and security characteristics of the applications. In particular, some of the metrics we looked at are adherence to coding standards, file size, over- and underpermissions, and any defects or security vulnerabilities that may exist.
					p Currently, there is no existing data set such as the one we have produced as a result of this project. We hope that such a data set will be valuable towards future research.
		div.row
			div.col-md-3
				h2.title Collaborators
			div.col-md-9
				h3.subtitle Adam Blaine
				h4.contact amb8805@rit.edu
				div.content
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nec nisi in felis sodales mollis. Curabitur nec nisi id nibh porta blandit. Cras eu libero suscipit odio laoreet luctus ac vitae tellus. Quisque sit amet semper orci. 
				h3.subtitle Casey Klimkowsky
				h4.contact cek3403@rit.edu
				div.content
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nec nisi in felis sodales mollis. Curabitur nec nisi id nibh porta blandit. Cras eu libero suscipit odio laoreet luctus ac vitae tellus. Quisque sit amet semper orci. 
				h3.subtitle Shannon Trudeau
				h4.contact smt9020@rit.edu
				div.content
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nec nisi in felis sodales mollis. Curabitur nec nisi id nibh porta blandit. Cras eu libero suscipit odio laoreet luctus ac vitae tellus. Quisque sit amet semper orci. 
				h3.subtitle Dr. Daniel Krutz
				h4.contact dxkvse@rit.edu
				div.content
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nec nisi in felis sodales mollis. Curabitur nec nisi id nibh porta blandit. Cras eu libero suscipit odio laoreet luctus ac vitae tellus. Quisque sit amet semper orci. 
		div.row
			div.col-md-3
				h2.title Acknowledgment
			div.col-md-9
				h3.subtitle anderson916 on GitHub
				div.content
					p google-play-crawler repository
				h3.subtitle egirault on GitHub
				div.content
					p googleplay-api repository
