div.modal-header
	h3 Advanced Search
div.modal-body
	form.form-horizontal(role='form')
		div.form-group
			div.col-xs-3
				label.control-label.pull-right Name
			div.col-xs-9
				input.form-control(type='text', ng-model='filter.name')
		div.form-group
			div.col-xs-3
				label.control-label.pull-right Version
			div.col-xs-9
				input.form-control(type='number', step='any', min='0', ng-model='filter.version')
		div.form-group
			div.col-xs-3
				label.control-label.pull-right Developer
			div.col-xs-9
				input.form-control(type='text', ng-model='filter.developer')
		div.form-group(ng-controller='GenreInputController')
			div.col-xs-3
				label.control-label.pull-right Genre
			div.col-xs-9
				div.input-group
					ui-select(ng-model='filter.genre.selected')
						ui-select-match {{ $select.selected }}
						ui-select-choices(repeat='genre in genres | filter: $select.search')
							div(ng-bind-html='genre | highlight: $select.search')
					span.input-group-btn
						button.btn.btn-default(type='button', ng-click='clear()')
							i.fa.fa-trash-o
		div.form-group
			div.col-xs-3
				label.control-label.pull-right User Rating
			div.col-xs-9
				div.form-group
					div.col-xs-5
						input.form-control(type='number', min='1', max='5', ng-model='filter.userRatingFrom')
					div.col-xs-2.text-center
						label.control-label to
					div.col-xs-5
						input.form-control(type='number', min='1', max='5', ng-model='filter.userRatingTo')
		div.form-group
			div.col-xs-3
				label.control-label.pull-right Release Date
			div.col-xs-9
				div.form-group
					div.col-xs-5
						p.input-group(ng-controller='DateInputController')
							input.form-control(type='text', datepicker-popup='MM/dd/yyyy', ng-model='dt', is-open='opened', show-button-bar='false', ng-model='filter.releaseDateFrom')
							span.input-group-btn
								button.btn.btn-default(ng-click='open($event)')
									i.fa.fa-calendar
					div.col-xs-2.text-center
						label.control-label to
					div.col-xs-5
						p.input-group(ng-controller='DateInputController')
							input.form-control(type='text', datepicker-popup='MM/dd/yyyy', ng-model='dt', is-open='opened', show-button-bar='false', ng-model='filter.releaseDateTo')
							span.input-group-btn
								button.btn.btn-default(ng-click='open($event)')
									i.fa.fa-calendar
		div.form-group
			div.col-xs-3
				label.control-label.pull-right File Size
			div.col-xs-9
				div.form-group
					div.col-xs-5
						div.input-group
							input.form-control(type='number', step='any', min='0', ng-model='filter.fileSizeFrom')
							div.input-group-btn
								button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown') {{ filter.fileSizeFromUnit }}
									span.caret
								ul.dropdown-menu
									li 
										a(ng-click='setUnit("from", "M")') Megabytes (M)
									li 
										a(ng-click='setUnit("from", "k")') Kilobytes (k)
					div.col-xs-2.text-center
						label.control-label to
					div.col-xs-5
						div.input-group
							input.form-control(type='number', step='any', min='0', ng-model='filter.fileSizeTo')
							div.input-group-btn
								button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown') {{ filter.fileSizeToUnit }}
									span.caret
								ul.dropdown-menu
									li 
										a(ng-click='setUnit("to", "M")') Megabytes (M)
									li 
										a(ng-click='setUnit("to", "k")') Kilobytes (k)
div.modal-footer
	button.btn.btn-theme(type='button', ng-click='search()') Search
