section#apk-detail.apk-detail
	div.container(loading-spinner='viewLoading')
		div.row
			div.col-md-12
				h1 {{ apk.Name }} 
					small {{ apk.Version }}
				h4 {{ apk.Developer }}
				h5 {{ apk.Genre }}
		div.row.content
			div.col-md-3.col-sm-6
				h2.subtitle User Rating
				p {{ apk.UserRating }}
			div.col-md-3.col-sm-6
				h2.subtitle Release Date
				p {{ apk.DatePublished }}
			div.col-md-3.col-sm-6
				h2.subtitle File Size
				p {{ apk.FileSize }}
			div.col-md-3.col-sm-6
				h2.subtitle Number of Downloads
				p {{ apk.LowerDownloads | number }} - {{ apk.UpperDownloads | number }}
		div.analysis-results
			div.row
				div.col-md-3
					h3 Analysis Results
			div.row.content
				div.col-md-6
					h2.subtitle Overpermissions
					ul.permissions-list
						li(ng-repeat='o in apk.Overpermissions') {{ o }}
					div(ng-hide='apk.Overpermissions.length > 0') No Overpermissions
				div.col-md-6
					h2.subtitle Underpermissions
					ul.permissions-list
						li(ng-repeat='u in apk.Underpermissions') {{ u }}
					div(ng-hide='apk.Underpermissions.length > 0') No Underpermissions
			div.row.content
				div.col-md-6
					h2.subtitle Fuzzy Risk Value
					p {{ apk.FuzzyRiskValue }}
				div.col-md-6
					h2.subtitle Number of Defects
					p {{ apk.DefectCount | number }}
