section#data.data
	div.container(loading-spinner='dataViewLoading')
		div.row
			div.col-md-7.col-md-offset-5
				form.form-horizontal.filter-form(role='form')
					div.form-group
						div.col-md-1
							label.control-label Filter
						div.col-md-9(ng-controller='FilterController')
							input.form-control(type='text', ng-model='search', ng-change='change()', placeholder='Search for an app by name...')
						div.col-md-2
							button.btn.btn-theme(type='button', ng-controller='ModalController', ng-click='open()') Advanced
		
		div.row
			div.col-md-12
				div.table-responsive
					table.table.table-hover
						thead
							tr
								th(ng-repeat='column in tableColumns', ng-click='sortTable(column.id)') {{ column.label }}
									i.fa.th-sort-arrow.pull-right(ng-show='sort.column == column.id', ng-class='getSortIconClass(column.id)')
						tbody
							tr(ng-repeat='apk in displayedApks | startFrom:(currentPage - 1) * itemsPerPage | limitTo:itemsPerPage', ng-click='selectTableRow()')
								td(ng-repeat='column in tableColumns') {{ apk[column.id] }}

		div.row
			div.col-md-12.text-center
				pagination.pagination(boundary-links='true', ng-model='currentPage', total-items='totalItems', items-per-page='itemsPerPage', max-size='maxSize', previous-text!='&lsaquo;', next-text!='&rsaquo;', first-text!='&laquo;', last-text!='&raquo;', rotate='false')
