div.container
	div.row
		div.col-lg-6.col-lg-offset-6
			form.form-inline
				div.input-group
					input.form-control(type='text', ng-model='selected', typeahead='apk as apk.Name for apk in apks | filter:$viewValue | limitTo:8')
					span.input-group-btn
						button.btn.btn-default(type='button')
							span.glyphicon.glyphicon-search
				div(ng-controller='AdvancedSearchController')
					button.btn.btn-primary(type='button', ng-click='open()') Advanced
	div.row
		div.col-lg-6
			
		div.col-lg-6
			form.form-group
				ui-select(ng-model='format.selected', theme='bootstrap')
					match(placeholder='Select download format...') {{ $select.selected }}
					choices(repeat='item in formats | filter: $select.search')
						div(ng-bind-html='item | highlight: $select.search')
				button#download-btn.btn.btn-primary(type='button', ng-model='format.selected') Download

	div.row
		div.col-lg-12
			div.table-responsive
				table.table.table-hover
					thead
						tr
							th Name
							th Version
							th Developer
							th Genre
							th User Rating
							th Release Date
							th File Size
					tbody
						tr(ng-repeat='apk in apks | startFrom:(currentPage - 1) * itemsPerPage | limitTo:itemsPerPage')
							td {{ apk.Name }}
							td {{ apk.Version }}
							td {{ apk.Developer }}
							td {{ apk.Genre }}
							td {{ apk.Rating }}
							td {{ apk.DatePublished }}
							td {{ apk.FileSize }}

	div.row
		div.col-lg-12.text-center
			pagination.pagination(boundary-links='true', page='currentPage', total-items='totalItems', items-per-page='itemsPerPage', max-size='maxSize', previous-text!='&lsaquo;', next-text!='&rsaquo;', first-text!='&laquo;', last-text!='&raquo;', rotate='false')