section#data.data.offset-header
	div.container(loading-spinner='viewLoading')
		div.row
			div.col-md-6.col-md-offset-6
				form.form-horizontal(role='form')
					div.form-group
						div.col-xs-2
							label.control-label Filter
						div.col-xs-8(ng-controller='FilterController')
							input.form-control(type='text', ng-model='search', placeholder='Search for an app by name...')
						div.col-xs-2
							button.btn.btn-theme(ng-controller='ModalController', type='button', ng-click='open()') Advanced
		div.row
			div.col-md-6.col-md-offset-6
				form.form-horizontal(role='form')
					div.form-group
						div.col-xs-2
							label.control-label Download
						div.col-xs-8
							ui-select(ng-model='fileFormat.selected')
								ui-select-match(placeholder='Select download format...') {{ $select.selected }}
								ui-select-choices(repeat='fileFormat in fileFormats | filter: $select.search')
									div(ng-bind-html='trustAsHtml((fileFormat.toString() | highlight: $select.search))')
						div.col-xs-2
							button.btn.btn-theme(type='button', ng-click='download(fileFormat.selected)', ng-disabled='!fileFormat.selected') Download
		div.row
			div.col-md-12
				div.table-responsive
					table.table.table-hover
						thead
							tr
								th(ng-repeat='column in tableColumns', ng-click='sortTable(column.id)') {{ column.label }}
									i.fa.th-sort-arrow.pull-right(ng-show='sort.column == column.id', ng-class='getSortIconClass(column.id)')
						tbody
							tr(ng-repeat='apk in displayedApks | startFrom:(currentPage - 1) * itemsPerPage | limitTo:itemsPerPage', ng-click='selectTableRow()')
								td(ng-repeat='column in tableColumns') {{ apk[column.id] }}

		div.row
			div.col-md-12.text-center
				pagination.pagination(boundary-links='true', ng-model='currentPage', total-items='totalItems', items-per-page='itemsPerPage', max-size='maxSize', previous-text!='&lsaquo;', next-text!='&rsaquo;', first-text!='&laquo;', last-text!='&raquo;', rotate='false')
