section#promo.promo.section.offset-header.has-pattern
	div.container
		div.row
			div.overview.col-md-12.animated.fadeInUp.delayp1
				h2.title.text-center This is a project about Android applications
				div.divider
				p.lead.text-center Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nec nisi in felis sodales mollis.

section#features.features.section
	div.container
		div.row
			h2.title.text-center.animated.fadeInUp.delayp1 Project Overview
			div.col-md-4.col-sm-6.col-xs-12.text-center
				img(src='http://placehold.it/200').animated.fadeInUp.delayp1
				div.content 
					h3.subtitle Lorem Ipsum
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nec nisi in felis sodales mollis. Curabitur nec nisi id nibh porta blandit.
			div.col-md-4.col-sm-6.col-xs-12.text-center
				img(src='http://placehold.it/200').animated.fadeInUp.delayp1
				div.content 
					h3.subtitle Lorem Ipsum
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nec nisi in felis sodales mollis. Curabitur nec nisi id nibh porta blandit.
			div.col-md-4.col-sm-6.col-xs-12.text-center
				img(src='http://placehold.it/200').animated.fadeInUp.delayp1
				div.content 
					h3.subtitle Lorem Ipsum
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nec nisi in felis sodales mollis. Curabitur nec nisi id nibh porta blandit.

section#results.results.section
	div.container
		div.row
			h2.title.text-center.animated.fadeInUp.delayp1 Highlighted Findings
		div.row
			div.col-md-5.col-md-push-7.text-center
				canvas(donutchart='', options='options', data='chart', width='300', height='300')
			div.col-md-7.col-md-pull-5
				div.content.left
					h3.subtitle Lorem Ipsum
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nec nisi in felis sodales mollis. Curabitur nec nisi id nibh porta blandit.
		div.row
			div.col-md-5.text-center
				img(src='http://placehold.it/300')
			div.col-md-7
				div.content.right
					h3.subtitle Lorem Ipsum
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nec nisi in felis sodales mollis. Curabitur nec nisi id nibh porta blandit.
		div.row
			div.col-md-5.col-md-push-7.text-center
				img(src='http://placehold.it/300')
			div.col-md-7.col-md-pull-5
				div.content.left
					h3.subtitle Lorem Ipsum
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nec nisi in felis sodales mollis. Curabitur nec nisi id nibh porta blandit.
