section#home.home
	section#promo.promo
		div.container
			div.row
				div.content.col-md-12
					h1.title Reverse Engineering of Android™ Applications
					p.lead Our goal is to better understand mobile applications and how various software metrics may impact one another
					a.btn.btn-lg.btn-theme(href='https://github.com/DroidDarwin/DarwinData') Download on GitHub

	section#overview.overview
		div.container
			div.row
				h1.title.text-center Project Overview
				div.col-md-6.col-sm-6.col-xs-12.text-center
					span.fa-stack.fa-5x
						i.fa.fa-circle.fa-stack-2x
						i.fa.fa-download.fa-stack-1x.fa-inverse
					div.content 
						h2.subtitle Data Collection
						p We created a web scraper using Scrapy, a web scraping framework for Python, to collect over 30,000 APK files, as well as information on these files.
				div.col-md-6.col-sm-6.col-xs-12.text-center
					span.fa-stack.fa-5x
						i.fa.fa-circle.fa-stack-2x
						i.fa.fa-cogs.fa-stack-1x.fa-inverse
					div.content 
						h2.subtitle Data Analysis
						p We used a variety of existing tools to analyze the over- and underpermissions, risk level for potential malware, and other metrics of the collected files.

	section#results.results
		div.container
			div.row
				h1.title.text-center Highlighted Findings
			div.row
				div.col-md-6.col-md-push-6
					div.container.chart-container
						div.row
							div.col-md-7.canvas-holder
								canvas(id='chart1', height='225', width='225')
							div.col-md-5
						//- Hack with loadingSpinner so that chart renders without first resizing the browser window
						div.chart-loading(loading-spinner='viewLoading')
				div.col-md-6.col-md-pull-6
					div.content.left
						h2.subtitle Overpermissions
						p Using Stowaway, a tool that determines the permissions in which an app is over- and underprivileged, we found that even some of the most-downloaded apps on Google Play violate the principle of least privilege.
			//- div.row
			//- 	div.col-md-5.text-center
			//- 		img(src='http://placehold.it/225')
			//- 	div.col-md-7
			//- 		div.content.right
			//- 			h2.subtitle Lorem Ipsum
			//- 			p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nec nisi in felis sodales mollis. Curabitur nec nisi id nibh porta blandit.
			//- div.row
			//- 	div.col-md-5.col-md-push-7.text-center
			//- 		img(src='http://placehold.it/225')
			//- 	div.col-md-7.col-md-pull-5
			//- 		div.content.left
			//- 			h2.subtitle Lorem Ipsum
			//- 			p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nec nisi in felis sodales mollis. Curabitur nec nisi id nibh porta blandit.

