div#header
	div.container-fluid.header-holder
		h1 This is a project about Android applications
		div.divider
		p.lead Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nec nisi in felis sodales mollis. Curabitur nec nisi id nibh porta blandit.
div.container
	section
		div.row.text-center
			div.col-md-4
				img(src='http://placehold.it/200')
				h2 Lorem Ipsum
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nec nisi in felis sodales mollis. Curabitur nec nisi id nibh porta blandit.
			div.col-md-4
				img(src='http://placehold.it/200')
				h2 Lorem Ipsum
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nec nisi in felis sodales mollis. Curabitur nec nisi id nibh porta blandit.
			div.col-md-4
				img(src='http://placehold.it/200')
				h2 Lorem Ipsum
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nec nisi in felis sodales mollis. Curabitur nec nisi id nibh porta blandit.
div.container
	section
		div.row
			div.col-sm-5
				img(src='http://placehold.it/300')
			div.col-sm-7.text-right
				h2 Lorem Ipsum
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nec nisi in felis sodales mollis. Curabitur nec nisi id nibh porta blandit. Cras eu libero suscipit odio laoreet luctus ac vitae tellus. Quisque sit amet semper orci. 
div.container
	section
		div.row
			div.col-sm-5.col-sm-push-7.text-right
				img(src='http://placehold.it/300')
			div.col-sm-7.col-sm-pull-5
				h2 Lorem Ipsum
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nec nisi in felis sodales mollis. Curabitur nec nisi id nibh porta blandit. Cras eu libero suscipit odio laoreet luctus ac vitae tellus. Quisque sit amet semper orci.