.nav, .pagination, .carousel, .panel-title a {
	cursor: pointer;
}

body {
	font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

label, input {
	margin-right: 10px;
}

.small-input {
	width: 150px;
	display: inline-block;
}

.to {
	padding-right: 12px;
	display: inline-block;
}

.ui-select-bootstrap {
	display: inline-block;
	width: 300px;
}