/* https://wrapbootstrap.com/theme/delta-promote-mobile-app-effectively-WB09R23P8 */
/* http://bootstrapzero.com/bootstrap-template/holo */

/**
 * --------------------------------------------------
 * Default styles
 * --------------------------------------------------
 */

body {
  font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  color: #444;
  font-weight: 300;
}

a {
  color: #99cc00;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

a:hover {
  text-decoration: none;
  color: #83b600;
}

.btn {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

.btn-theme {
  background: #99cc00;
  border: 1px solid #99cc00;
  color: #fff;
}

.btn-theme:hover {
  background: #83b600;
}

.btn-theme:hover,
.btn-theme:active,
.btn-theme:focus {
  border: 1px solid #83b600;
  color: #fff;
}

.btn-transparent {
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
}

.btn-transparent:hover {
  background: #fff;
}

.btn-transparent:hover,
.btn-transparent:active,
.btn-transparent:focus {
  border: 1px solid #fff;
  color: #444;
}

.btn-info {
  background-color: #99cc00;
  border-color: #99cc00;
}

.control-label {
  font-weight: normal;
}

.form-control {
  font-weight: 300;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.form-control:focus {
  border-color: #99cc00;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.ui-select-bootstrap .ui-select-choices-row.active > a {
  background-color: #99cc00;
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  background-color: #99cc00;
}

.table > thead > tr > th {
  font-weight: normal;
}

.pagination > li > a,
.pagination > li > span {
  color: #99cc00;
}

.pagination > li > a:hover, 
.pagination > li > span:hover, 
.pagination > li > a:focus, 
.pagination > li > span:focus {
  color: #83b600;
}

.pagination > .active > a, 
.pagination > .active > span, 
.pagination > .active > a:hover, 
.pagination > .active > span:hover, 
.pagination > .active > a:focus, 
.pagination > .active > span:focus {
  color: #fff;
  background-color: #99cc00;
  border-color: #99cc00;
}

::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #999;
}

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #999;
}

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #999;
}

:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #999;
}

.offset-header,
.modal-dialog {
  padding-top: 100px;
}

.delayp1 {
  animation-delay: .1s;
  -moz-animation-delay: .1s;
  -webkit-animation-delay: .1s;
  -o-animation-delay: .1s;
  transition-delay: .1s;
  -webkit-transition-delay: .1s;
  -moz-transition-delay: .1s;
  -o-transition-delay: .1s;
}

.delayp2 {
  animation-delay: .2s;
  -moz-animation-delay: .2s;
  -webkit-animation-delay: .2s;
  -o-animation-delay: .2s;
  transition-delay: .2s;
  -webkit-transition-delay: .2s;
  -moz-transition-delay: .2s;
  -o-transition-delay: .2s;
}

.delayp3 {
  animation-delay: .3s;
  -moz-animation-delay: .3s;
  -webkit-animation-delay: .3s;
  -o-animation-delay: .3s;
  transition-delay: .3s;
  -webkit-transition-delay: .3s;
  -moz-transition-delay: .3s;
  -o-transition-delay: .3s;
}

.delayp4 {
  animation-delay: .4s;
  -moz-animation-delay: .4s;
  -webkit-animation-delay: .4s;
  -o-animation-delay: .4s;
  transition-delay: .4s;
  -webkit-transition-delay: .4s;
  -moz-transition-delay: .4s;
  -o-transition-delay: .4s;
}

.delayp5 {
  animation-delay: .5s;
  -moz-animation-delay: .5s;
  -webkit-animation-delay: .5s;
  -o-animation-delay: .5s;
  transition-delay: .5s;
  -webkit-transition-delay: .5s;
  -moz-transition-delay: .5s;
  -o-transition-delay: .5s;
}

.delayp6 {
  animation-delay: .6s;
  -moz-animation-delay: .6s;
  -webkit-animation-delay: .6s;
  -o-animation-delay: .6s;
  transition-delay: .6s;
  -webkit-transition-delay: .6s;
  -moz-transition-delay: .6s;
  -o-transition-delay: .6s;
}

.delayp7 {
  animation-delay: .7s;
  -moz-animation-delay: .7s;
  -webkit-animation-delay: .7s;
  -o-animation-delay: .7s;
  transition-delay: .7s;
  -webkit-transition-delay: .7s;
  -moz-transition-delay: .7s;
  -o-transition-delay: .7s;
}

.delayp8 {
  animation-delay: .8s;
  -moz-animation-delay: .8s;
  -webkit-animation-delay: .8s;
  -o-animation-delay: .8s;
  transition-delay: .8s;
  -webkit-transition-delay: .8s;
  -moz-transition-delay: .8s;
  -o-transition-delay: .8s;
}

.delayp9 {
  animation-delay: .9s;
  -moz-animation-delay: .9s;
  -webkit-animation-delay: .9s;
  -o-animation-delay: .9s;
  transition-delay: .9s;
  -webkit-transition-delay: .9s;
  -moz-transition-delay: .9s;
  -o-transition-delay: .9s;
}

.delay1s {
  animation-delay: 1s;
  -moz-animation-delay: 1s;
  -webkit-animation-delay: 1s;
  -o-animation-delay: 1s;
  transition-delay: 1s;
  -webkit-transition-delay: 1s;
  -moz-transition-delay: 1s;
  -o-transition-delay: 1s;
}

.delay2s {
  animation-delay: 2s;
  -moz-animation-delay: 2s;
  -webkit-animation-delay: 2s;
  -o-animation-delay: 2s;
  transition-delay: 2s;
  -webkit-transition-delay: 2s;
  -moz-transition-delay: 2s;
  -o-transition-delay: 2s;
}


/**
 * --------------------------------------------------
 * Header
 * --------------------------------------------------
 */

.header {
  padding: 15px 0;
  background: #fff;
  z-index: 9999;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}

.header h1.logo {
  margin-top: 0;
  margin-bottom: 0;
}

.header h1.logo a {
  color: #444444;
}

.header h1.logo a img {
  margin-right: 5px;
  max-height: 50px;
}

.header h1.logo .logo-title {
  vertical-align: middle;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 14px;
  max-height: 50px;
}

.header .main-nav button {
  background: #99cc00;
  color: #fff !important;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

.header .main-nav button:focus {
  outline: none;
}

.header .main-nav button .icon-bar {
  background-color: #fff;
}

.header .main-nav .nav .nav-item {
  font-weight: normal;
  text-transform: uppercase;
  margin-right: 10px;
}

.header .main-nav .nav .nav-item.active a {
  color: #99cc00;
  background: none;
}

.header .main-nav .nav .nav-item a {
  color: #444444;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
}

.header .main-nav .nav .nav-item a:hover {
  color: #99cc00;
  background: none;
}

.header .main-nav .nav .nav-item a:focus {
  outline: none;
  background: none;
}

.header .main-nav .nav .nav-item a:active {
  outline: none;
  background: none;
}

.header .main-nav .nav .nav-item.active {
  color: #99cc00;
}

.header .main-nav .nav .nav-item.last {
  margin-right: 0;
}


/**
 * --------------------------------------------------
 * Footer
 * --------------------------------------------------
 */

.footer {
  background: #444;
  color: #fff;
  padding: 20px 0;
}

.footer .copyright {
  color: #b3b3b3;
  font-size: 12px;
}


/**
 * --------------------------------------------------
 * Home Page
 * --------------------------------------------------
 */

.home {
  background: url('../img/android_permissions.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


/**
 * --------------------------------------------------
 * Promo Section
 * --------------------------------------------------
 */

.promo {
  height: 100vh;
  color: #fff;
  background: rgba(68, 68, 68, .7);
}

.promo .content {
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
}

.promo .content h1 {
  margin-bottom: 35px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}

.promo .content h4 {
  margin-bottom: 50px;
}


/**
 * --------------------------------------------------
 * Overview Section
 * --------------------------------------------------
 */

.overview {
  background-color: #fff;
  padding: 80px 0;
}

.overview .title {
  margin-bottom: 60px;
}

.overview .content {
  padding: 30px;
}

.overview .content .subtitle {
  color: #99cc00;
  font-size: 18px;
  margin-top: 0;
}


/**
 * --------------------------------------------------
 * Results Section
 * --------------------------------------------------
 */

.results {
  background-color: #f5f5f5;
  padding: 60px 0;
}

.results .title {
  margin-bottom: 60px;
}

.results .content {
  padding: 30px;
  text-align: center;
}

.results .content .subtitle {
  color: #99cc00;
  font-size: 18px;
  margin-top: 0;
}

.results .chart-container {
  height: 360px;
  padding: 30px;
}

.doughnut-legend {
  list-style: none;
  position: absolute;
  right: 10px;
  top: 30px;
}

.doughnut-legend li {
  display: block;
  padding-left: 30px;
  position: relative;
  margin-bottom: 4px;
  border-radius: 5px;
  padding: 2px 8px 2px 28px;
  font-size: 14px;
  cursor: default;
  -webkit-transition: background-color 200ms ease-in-out;
  -moz-transition: background-color 200ms ease-in-out;
  -o-transition: background-color 200ms ease-in-out;
  transition: background-color 200ms ease-in-out;
}

.doughnut-legend li:hover {
  background-color: #fafafa;
}

.doughnut-legend li span {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 100%;
  border-radius: 5px;
}


/**
 * --------------------------------------------------
 * Data Page
 * --------------------------------------------------
 */

.data {
  background-color: #fff;
  min-height: 850px;
  padding-bottom: 35px;
}

.data .th-sort-arrow {
  padding-top: 3px;
}

.data .table > thead > tr > th,
.data .table > tbody > tr {
  cursor: pointer;
  cursor: hand;
}

.modal-dialog .form-group .combo {
  margin-bottom: 0;
}


/**
 * --------------------------------------------------
 * Data Page
 * --------------------------------------------------
 */

.apk-detail {
  min-height: 850px;
  padding-bottom: 50px;
}

.apk-detail .content .subtitle {
  color: #99cc00;
  font-size: 18px;
}

.apk-detail .permissions-list {
  margin-top: 10px;
  list-style-type: none; 
  padding: 0;
}


/**
 * --------------------------------------------------
 * About Page
 * --------------------------------------------------
 */

.about {
  background-color: #fff;
  padding-bottom: 50px;
}

.about .subtitle {
  color: #99cc00;
  font-size: 18px;
}

.about .contact {
  font-size: 14px;
  font-weight: 300;
  margin-top: -5px;
  color: #b3b3b3;
}


/**
 * --------------------------------------------------
 * Media Queries
 * --------------------------------------------------
 */

/* Extra small devices (phones, less than 768px) */
@media (max-width: 767px) {
  
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}
