extends layout

block body
  header#top.header
    div.container
      nav#main-nav.main-nav.navbar-right(role='navigation')
        div.navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-collapse', ng-click='isCollapsed = !isCollapsed')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
        div.navbar-collapse.collapse#navbar-collapse(ng-class='isCollapsed ? "collapse" : "in"')
          ul.nav.navbar-nav
            li.nav-item(ng-class='getNavItemClass("/")')
              a(href='#/') Home
            li.nav-item(ng-class='getNavItemClass("/data")')
              a(href='#/data') Data
            li.nav-item(ng-class='getNavItemClass("/about")')
              a(href='#/about') About

  div.main(ng-view)

  footer#footer.footer
    div.container
      div.row
        div.col-md-9.copyright
          span Copyright &copy; 2014 Casey Klimkowsky, Shannon Trudeau, Adam Blaine, Daniel Krutz, Samuel Malachowsky
        div.col-md-3.repo-link
          a(target='_blank', href='https://github.com/DroidDarwin') GitHub

  script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js')
  script(src='//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.15/angular.min.js')
  script(src='//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.15/angular-route.min.js')
  script(src='//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.15/angular-sanitize.min.js')
  script(src='//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.15/angular-resource.min.js')
  script(src='//cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.1-beta.2/Chart.min.js')
  script(src='//cdnjs.cloudflare.com/ajax/libs/spin.js/2.0.1/spin.min.js')
  script(src='js/lib/angular-ui/ui-bootstrap-tpls-0.11.0.js')
  script(src='js/lib/ui-select/select.min.js')
  script(src='js/app.js')
  script(src='js/services.js')
  script(src='js/controllers.js')
  script(src='js/filters.js')
  script(src='js/directives.js')
