!!!
html(ng-app="androidApp")
  head
    meta(charset='utf8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    base(href='/')
    title Reverse Engineering of Android™ Applications
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Roboto:400,300|Roboto+Condensed|PT+Sans:600', type='text/css')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/animate.css/3.1.0/animate.min.css')
    link(rel='stylesheet', href='css/lib/ui-select/select.min.css')
    link(rel='stylesheet', href='css/app.css')
  body(ng-controller='AppController')
    block body